<%- include("header") -%>

<h2>This is a About Page!!!!!</h2>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia culpa
      eum non odit. Harum dolorem eos maxime aut laborum, tempora, beatae
      doloremque consequatur assumenda dolorum aliquam? Accusantium corrupti
      labore voluptatem.
    </p>
  </div>
</div>
<%- include("footer") -%>
